* {
  margin: 0;
  padding: 0;
}

div.App {
  margin: 10px;

  div.LoginPrompt {
    margin: 10px;

    div.username, div.password {
      margin: 20px 10px 0 0;
    }

    button.loginButton {
      margin-top: 20px;
    }
  }

  div.Overview {
    div.Task {
      display: inline-block;
      width: 250px;
      border: 1px black solid;
      border-radius: 5px;
      margin: 5px;

      p {
        margin: 5px;
      }

      span {
        margin: 5px;
      }
    }

    h4.heading {
      margin-bottom: 20px;
    }
  }
}