* {
  margin: 0;
  padding: 0;
}

div.App {
  margin: 10px;

  div.LoginPrompt {
    margin: 10px;

    div.username, div.password {
      margin: 20px 10px 0 0;
    }

    button.loginButton {
      margin-top: 20px;
    }
  }

  div.Overview {
    div.Task {
      display: grid;
      grid-template-areas:
              "chore toggleIcon editIcon"
              "day day day"
              "pic pic pic"
              "blame blame blame";

      grid-template-columns: 250px 35px 35px;
      transition: background-color 0.25s ease-in-out;

      width: 325px;
      border: 1px black solid;
      border-radius: 5px;
      margin: 5px;

      svg.toggle {
        grid-area: toggleIcon;
        margin: 5px;

        &:hover {
          cursor: pointer;
        }
      }

      svg.editIcon {
        grid-area: editIcon;
        margin: 5px;

        &:hover {
          cursor: pointer;
        }
      }

      p.chore {
        grid-area: chore;
      }

      p.day {
        grid-area: day;
      }

      p.pic {
        grid-area: pic;
      }

      span.blame {
        grid-area: blame;
      }

      p {
        margin: 5px;
      }

      span {
        margin: 5px;
      }
    }

    h4.heading {
      margin-bottom: 20px;
    }
  }
}

div.dialogContent {
  width: 500px;

  div.contentWrapper {
    div.deleteTask {
      display: grid;
      grid-template-areas: "deleteIcon deleteText";
      grid-template-columns: 40px 1fr;
      justify-items: left;

      padding: 10px;
      border: 1px lightgray solid;
      border-radius: 5px;

      transition: background-color 0.25s ease-in;

      svg.deleteIcon {
        grid-area: deleteIcon;
        margin-left: 5px;
      }

      p.deleteText {
        grid-area: deleteText;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(213, 80, 82, 0.1);
      }
    }
  }
}